body {
    margin: 0;
    padding: 0;
}

/* common-style */
.primary-btn {
    padding: 8px 15px;
    color: white;
    background-image: linear-gradient(#e85d04, #dc2f02);
    border-radius: 3px;
    text-decoration: none;
    transition: .5s;
}

.primary-btn:hover {
    color: white;
    background-image: linear-gradient(#dc2f02, #e85d04);
}

.secondary-btn {
    color: #e85d04;
    background-color: #e85b044b;
    padding: 8px 45px;
    text-decoration: none;
    border-radius: 50px;
}

.secondary-btn:hover {
    color: #fff;
    background-color: #e85b044b;
}

.p-color {
    color: #999393;
}

.check-fill {
    color: #e85b044b;
}

.package-details {
    transition: .5s;
}

.package-details:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.premium {
    position: relative;
    color: #fff;
    background-color: #e85b044b;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 35px 20px -20px;
}

.premium-color {
    color: #fff;
}

.quality {
    position: absolute;
    border-radius: 5px;
    padding: 8px;
    width: 102px;
    background-color: #e85d04;
    color: #fff;
    top: -22px;
    right: 15px;
    font-weight: bold;
}


/* contact-section-style */
.contact-cell {
    border: 2px solid #e85d04;
    padding-top: 20px;
}

.contact-cell i {
    font-size: 40px;
    color: #e85d04;
}

/* footer-section-style */

footer {
    background-color: #0B0D17;
}

.icon a {
    padding-right: 15px;
    font-size: 30px;
    color: #fff;
    transition: .5s;
}

.icon a:hover {
    color: #e85d04;
}

footer h2 {
    color: #fff;
    padding-left: 15px;
}

.hr-line {
    border-bottom: 2px solid gray;
}

.footer-button a {
    text-decoration: none;
    padding-right: 10px;
}


/* media-query for mobile */
@media only screen and (max-width: 576px) {
    .primary-btn {
        padding: 2px 10px;
        font-size: 10px;
    }

    .carousel-item h1 {
        font-size: 15px;
    }

    .carousel-item p {
        font-size: 6px;
        margin: 0;
    }
}